/* body{
	max-width:1200px;
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

p,
label,
a,
button,
span {
	font-family: "Inter", sans-serif;
}
.carousel-container {
	width: 80%;
	height: calc(100% - 60px); 
	margin: 30px 40px;
	border-radius: 10px;
	overflow: hidden;
	position:relative
}

.carousel-container .img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: contain;
	/* border-radius: 10px; */
}

.slick-dots {
	display: flex !important;
	justify-content: center;
	padding: 0;
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
	z-index: 1;
	width: 60%;
	margin: 0 auto;
}

.slick-dots li {
	width: 100px;
	margin: 0 5px;
	list-style: none;
}

.slick-dots li button {
	display: none;
}

.slick-dots li:before {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #ffffff3d;
	border-radius: 2px;
	position: relative;
}

.slick-dots li.slick-active:before {
	background: #fff;
}
